# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock


# Compiled source
dist/
build/
tmp/
temp/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Optional: MongoDB / SQLite / other local db files
*.sqlite
*.sqlite3
*.db
*.db-journal
dump.rdb
